[mysqld]

# 集群相关配置：
server_id                       = 1                   # server-id，集群中不同服务之间，不应重复
skip_slave_start                = true                  # 禁止自动开启复制功能，建议手动操作
log_slave_updates               = true                  # 是否将从库收到的变更事件重新写入到自己的 binlog 中，建议开启。不然将从库切换为主库时，或者该从库作为其他从库的数据源时，将会出现问题。

# 数据存储格式和名称：
log_bin                         = mysql-bin             # binlog 的存储文件名，也可以写绝对路径。否则将存储在默认目录下
relay_log                       = mysql-relay-bin       # 中继日志的存储文件名，也可以写绝对路径。否则将存储在默认目录下，默认时 hostname-relay-bin
binlog_format                   = row                   # 采用更安全可靠的 row 格式，但可能会占用大量存储